<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ErrorLog" value ="Error.log"/>
    <add key="uriWebServiceClientsPolicies" value="http://www.mocky.io" />
    <add key="pathToAllClients" value="/v2/5808862710000087232b75ac" />
    <add key="pathToAllPolicies" value="/v2/580891a4100000e8242b75c5" />
  </appSettings>
</configuration>